body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #17a97d;
    color: white;
    padding: 15px;
    margin: 0;
}

div {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #17a97d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #92eacf;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

#loginButton {
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

#loginButton button {
    background-color: #17a97d;
}

#loginButton button:hover {
    background-color: #067d59;
}
